.section {
    margin: 2rem 14% 1rem;
}

.room_card {
    background-color: #ea5;
    border: 0.08rem black solid;
    margin: 0.4rem;
    padding: 0.6rem;
    display: flex;
    align-items: center;
}

.room_card--main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.room_card--trash_icon {
    width: 2rem;
    height: 2rem;
}

.room_card--trash_icon:hover {
    cursor: pointer;
}

.room_card--trash_icon:active {
    cursor: auto;
}